.accordion {
  width: 350px;
  border: 1px solid gray;
  transition: all 0.3s;
}
.accordion > .title {
  background-color: #eee;
  color: black;
  font-weight: 900;
  text-align: start;
  margin: 0;
  padding: 1em;
  cursor: pointer;
  transition: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion > .title:hover,
.accordion > .title.active {
  background-color: #ccc;
}

.accordion > .title::after {
  content: '\02795';
  font-size: 10px;
  color: #777;
}
.accordion > .title.active::after {
  content: '\2796';
}
.accordion > .content {
  /* padding: 0.5em; */
  transition: inherit;
  overflow: hidden;
  height: 0;
}
.accordion > .content > div {
  padding: 0.5em;
}
